.form-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-confirm {
  width: 400px;
  background-color: white;
}
.modal-confirm .modal-content {
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
